.container {
  position: relative;
  border-radius: 3px;
  border-collapse: separate;
  overflow: hidden;
}
.container:hover {
  transform: scale(1.05);
  border-radius: 10px;
  border-collapse: separate;
  transition: 0.3s;
}
.text {
  position: relative;
  bottom: 50%;
  color: whitesmoke;
  text-align: center;
  overflow-wrap: hidden;
  hyphens: auto;
}

.tcontainer {
  position: absolute;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #374151;
  height: 50px;
  bottom: 0;
}
.tcontainer:hover {
  background-color: #1f2937;
}
