body {
  background: linear-gradient(
    180deg,
    rgba(15, 23, 42, 1) 0%,
    rgba(31, 41, 55, 1) 20%,
    rgba(15, 23, 42, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  line-height: 1.6;
  font-size: 24px;
}
h1 {
  text-align: center;
  color: #f1f5f9;
}
h2 {
  text-align: center;
  color: #f1f5f9;
  font-size: 1rem;
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
}

h5 {
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
}
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  font-family: "Voltaire", sans-serif;
  font-weight: 100;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
